name: Create new release on push to prod
on:
  workflow_run:
    workflows: ["Run tests"]
    branches: [prod]
    types: 
      - completed

jobs:
  compile_and_release:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    name: Compile and create release
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with: 
          ref: prod
          submodules: 'true'
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '6.0.x'
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Compile
        run: |
          bash scripts/generate_release.sh
      - name: Get release version
        run: |
          printf "release_version=v$(cat ./version)-beta" >> $GITHUB_ENV
      - name: Create new release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          removeArtifacts: true
          artifacts: "./release_pkgs/*"
          tag: ${{ env.release_version }}
          generateReleaseNotes: true
        